.idea

**/docs/apidocs
**/test_dummy
**/htmlcov
**/build*
**/temp_*
**/config
**/dist
**/runs
**/__pycache__
**/.venv
**/venv
**/*.log
*coverage*
.python-version
elasticai/__init__.py

### devenv and yosys+nextpnr+OpenFPGA tools
**/.devenv
**/.devenv.flake.nix
**/oss-cad-suite
**/.envrc
designs
scripts

